.date-button {  
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 36px;
    background-color: #fff;
    border-color:transparent;
    cursor: pointer;

    &:hover{
        background-color: #e6e6e6;
    }

    &:disabled{
        cursor: not-allowed;
    }


    &.is-today{
        background-color: #ffff76;
    }


    &.is-picked{
        color:white;
        background-color:  #006edc;
    }
}